/* white; 
#2E1114,
#501B1D, 
#64485C, 
#83677B, 
#ADADAD */

h1 {
  margin: 0 1em;
  color: white;
  text-shadow: 2px 2px #2E1114,
}

ul li {
  list-style-type: none;
  margin: .5em 0;
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px #64485C;
  width: 50%;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

